<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requested Movie Data</title>
</head>
<body>
    <h1>Here is your requested movie data:</h1>
    <table border="1">
        <tr>
            <th>Title</th>
            <td>{{ movie.title }}</td>
        </tr>
        <tr>
            <th>Year</th>
            <td>{{ movie.year }}</td>
        </tr>
        <tr>
            <th>Runtime</th>
            <td>{{ movie.runtime }} minutes</td>
        </tr>
        <tr>
            <th>Released</th>
            <td>{{ movie.released }}</td>
        </tr>
        <tr>
            <th>Plot</th>
            <td>{{ movie.plot }}</td>
        </tr>
        <tr>
            <th>Full Plot</th>
            <td>{{ movie.fullplot }}</td>
        </tr>
        <tr>
            <th>Last Updated</th>
            <td>{{ movie.lastupdated }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ movie.type }}</td>
        </tr>
        <tr>
            <th>Directors</th>
            <td>{{ movie.directors }}</td>
        </tr>
        <tr>
            <th>IMDb Votes</th>
            <td>{{ movie.imdb.votes }}</td>
        </tr>
        <tr>
            <th>IMDb ID</th>
            <td>{{ movie.imdb.id }}</td>
        </tr>
        <tr>
            <th>Cast</th>
            <td>{{ movie.cast }}</td>
        </tr>

    </table>

    <h1>Redirecting to the home page...</h1>

    <script>
        setTimeout(function() {
            window.location.href = '/api/movies/home'; 
        }, 5000); 
    </script>
</body>
</html>
