<table border="1">
        <tr>
            <th>Title</th>
            <td>{{ movie.title }}</td>
        </tr>
        <tr>
            <th>Year</th>
            <td>{{ movie.year }}</td>
        </tr>
        <tr>
            <th>Runtime</th>
            <td>{{ movie.runtime }} minutes</td>
        </tr>
        <tr>
            <th>Released</th>
            <td>{{ movie.released }}</td>
        </tr>
 
        <tr>
            <th>Plot</th>
            <td>{{ movie.plot }}</td>
        </tr>

        <tr>
            <th>IMDb Rating</th>
            <td>{{ movie.imdb.rating }}</td>
        </tr>

    </table>